.form {
  padding: $m-size;
}

.form__submit {
  display: flex;
  margin-top: $l-size;
}

.newtask-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex: 1;
}
