.App {
  padding: 10px;
}

.App__subheader {
  display: flex;
  justify-content: space-around;
}

.btn {
  border-color: cornflowerblue;
  outline: none;
}

.btn:hover:not([disabled]) {
  background-color: lightblue;
}

.btn:active {
  background-color: deepskyblue;
}

.btn:disabled {
  opacity: .3;
  background-color: none;
}
