.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.app__subheader {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background: whitesmoke;
}

.app__body {
  display: flex;
  justify-content: center;
}

.btn {
  border-color: cornflowerblue;
  outline: none;
}

.btn:hover:not([disabled]) {
  background-color: lightblue;
}

.btn:active {
  background-color: deepskyblue;
}

.btn:disabled {
  opacity: 0.3;
  background-color: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  background: wheat;
}
