.task-list-item__error {
  color: red;
  font-size: 15px;
}

.task-list-item__date {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.task-list-item {
  padding: 0.5rem 1rem;
  columns: 100px 4;
}

.task-list-item div {
  text-align: center;
  break-inside: avoid;
  column-fill: balance;
}
